# Dependencies
node_modules/
package-lock.json
yarn.lock

# Production
dist/
build/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.suo
*.sln
*.csproj
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.cache
.eslintcache
.firebase/
*.pem
